body{
    background-color: #f1e9e0;
    font-family: 'Ubuntu', 'Lato', 'Lora', 'Goudy Old Style', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 2em;
    font-weight: bold;
    color: #000;
}