p, h1, h2 {
    text-align: center;
    margin: 0;
}


#creation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align the buttons to the left */
    align-items: center; /* Center the buttons vertically */
    width: auto;
    height: 64px;
}

.new-billboard-button {
    margin-right: 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 25px;
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.new-billboard-button:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}
.new-billboard-button:active {
    opacity: 0.4;
}

.add-film-button {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 25px;
    background-color: #4a08ac;
    border: 1px solid #4a08ac;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.add-film-button:hover {
    color: #4a08ac;
    background-color: white;
    border: 1px solid #4a08ac;
}
.add-film-button:active {
    opacity: 0.4;
}


.films-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}
.section-title{

}
.All-Films{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.film{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    transition: opacity 0.2s;

}

.title-link{
    font-size: 18px;
    color: black;
    text-decoration: none;
}
.title-link:hover {
    color: #4a08ac;
}
.title-link:active {
    text-decoration-thickness: 5px;
}

.film-poster {
    width: 200px;
    height: 300px;
    transition: opacity 0.2s;
}
.film-poster:hover {
    opacity: 0.8;
}
.film-poster:active {
    opacity: 0.4;
}