{% extends "base.html" %}

{% block title %}
    Create New Billboard
{% endblock title %}

{% block content %}
    <h1>New Billboard</h1>

    <ol>
        <li>
            <div class="film">
                <h2>{{ film.title }}</h2>
                <div class="date&info">
                    <div class="billboard-date">
                        <label>Date:<input type="date"></label>
                        <label>Time:<input type="time"></label>
                    </div>
                    <div class="brief-info">
                        <p>{{ film.duration }}</p>
                        <div>
                            <p>{{ film.release_year }}</p>
                            <img width="10" src="{{ film.country.flag }}" alt="{{ film.country }}">
                        </div>
                        <p>{{ film.type }}</p>
                    </div>
                </div>
                <img src="{{ film.poster.url }}" alt="Poster de {{ film.title }}">
            </div>
        </li>
    </ol>
{% endblock content %}
