{% extends "base.html" %}

{% block title %}
    {{ film.title }}
{% endblock title %}

{% block content %}
    <div class="film-details">
        <h1>{{ film.title }}</h1>
        <div class="details-grid">
            <strong>Release Year:</strong> {{ film.release_year }}<p></p>
            <strong>Duration:</strong> {{ film.duration }}<p></p>
            <strong>Country:</strong> <img width="25" src="{{ film.country.flag.url }}" alt="{{ film.country }}"> <p></p>
            <strong>Genres:</strong>
                {% for genre in film.genre.all %}
                    {{ genre.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            <p></p>
            <strong>Film Type:</strong>
                {% for type in film.type.all %}
                    {{ type.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            <p></p>
            <strong>Platform:</strong> {{ film.platform }}<p></p>
            <strong>Language Version:</strong>
                {% for version in film.language_version.all %}
                    {{ version.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}
            <p></p>
            <strong>Saga:</strong> {{ film.saga }}<p></p>
            <div class="poster">
                <p><a href="{% url 'film_detail' film.title %}">
                    <img width="400" src="{{ film.poster.url }}" alt="{{ film.title }}"></a></p>
            </div>
            <div class="resume">
                <strong>Synopsis:</strong><br> {{ film.synopsis }}
            </div>
        </div>
    </div>
    
    <p><a href="{% url 'home' %}">Back to Home</a></p>
{% endblock %}