{% extends "base.html" %}

{% block title %}
    {{ film.title }}
{% endblock title %}

<body>
    <h1>{{ film.title }}</h1>
    <p>Release Year: {{ film.release_year }}</p>
    <p>Duration: {{ film.duration }}</p>
    <p>Country: {{ film.country }}</p>
    <p>Genres:</p>
    <ul>
        {% for genre in genres %}
            <li>{{ genre }}</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'film_detail' film.title %}"><img src="{{ film.poster.url }}" alt="{{ film.title }}"></a></p>
    <p>Synopsis: {{ film.synopsis }}</p>
    <p><a href="{% url 'home' %}">Back to Home</a></p>
</body>