{% extends "base.html" %}

{% block extra-tags %}
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock extra-tags %}

{% block title %}
    Cine en Casa
{% endblock title %}

{% block content %}
    <h1>Welcome to Cine En Casa!</h1>

    <div id="creation-buttons">
        <button class="new-billboard-button" type="button" onclick="location.href='{% url 'create_new_billboard' %}'">
            Create Billboard
        </button>
        <button class="add-film-button" type="button" onclick="location.href='{% url 'add_film' %}'">Add Film</button>
    </div>

    <div class="films-section">
        <h2 class="section-title">All Films</h2>
        <div class="All-Films">
            {% for film in films %}
                <div class="film">
                    <h2><a class="title-link" href="{% url 'film_detail' film.title %}">
                        {{ film.title }}
                    </a></h2>
                    <a href="{% url 'film_detail' film.title %}">
                        <img class="film-poster" src="{{ film.poster.url }}" alt="Poster de {{ film.title }}">
                    </a>
                </div>
            {% empty %}
                <p>No existent films.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block footer %}
    toma footer
{% endblock footer %}