<!DOCTYPE html>
<html lang="en">
<head> <!-- Required meta tags (the head element won't render) -->
    <meta charset="UTF-8"> <!-- codification (do avoid problems with special characters) -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive design -->

    <title>Home Page</title>

    <!-- OPEN GRAPH -->
    <meta property="og:title" content="Film Review Site"> <!-- the title that will appear in the social media -->
    <meta property="og:type" content="website"> <!-- the type of the content -->

    <meta name="robots" content="index, follow"> <!-- search engine optimization -->
    <meta name="description" content="Film Review Site"> <!-- the Google description in almost all cases -->
</head>
<body>
    <h1>Welcome to Cine En Casa!</h1>
    <p><a href="{% url 'add_film' %}">Add a new Film</a></p>
    {% for film in films %}
        <h2>{{ film.title }}</h2>
        <p>Release Year: {{ film.release_year }}</p>
        <p><a href="{% url 'film_detail' film.title %}">View Details</a></p>
    {% empty %}
        <p>No existent films.</p>
    {% endfor %}
</body>
</html>